
:root
{
	--key-height-top: 80px;
	--key-height-bottom: 140px;
	--key-width-top-small: 20px;
	--key-width-top-large: 30px;
	--key-width-bottom: 40px;
}

html, body
{
	margin: 0;
	padding: 0;
}

.key-top-space-large, .key-top-space-small
{
	background-color: transparent;
}

.key-top
{
	background-color: #303030;
	box-shadow: inset 0 0 5px 0px #00000060;
}

.key-bottom
{
	background-color: #E5E5E5;
	box-shadow: inset 0 0 5px 0px #00000060;
}

.key-highlight-color
{
	background-color: mediumslateblue;
}

.key-correct-color
{
	background-color: green;
}

.key-incorrect-color
{
	background-color: red;
}

.main-div
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding: 10px;
}

.generate-button-and-settings
{
	display: flex;
	flex-direction: row;
}

.piano
{
	display: flex;
	flex-direction: column;
}

.piano-top
{
	display: flex;
	flex-direction: row;
}

.piano-top > *
{
	z-index: 1;
}

.piano-bottom
{
	display: flex;
	flex-direction: row;
}

.piano-bottom > *
{
	margin-top: calc(0px - var(--key-height-top));
	z-index: 0;
}

.key-top-space-large
{
	width: var(--key-width-top-large);
	height: var(--key-height-top);
}

.key-top-space-small, .key-top
{
	width: var(--key-width-top-small);
	height: var(--key-height-top);
}

.key-bottom
{
	width: var(--key-width-bottom);
	height: var(--key-height-bottom);
}
